.html
{
	background: #CDC3BB url("../images/obras.jpg") no-repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 750px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 460px;
}

#pu4991
{
	width: 0.01px;
	left: -408px;
	position: relative;
}

#u4991
{
	z-index: 2;
	width: 1070px;
	margin-right: -10000px;
}

#u5000
{
	z-index: 13;
	width: 189px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 425px;
}

#u5011-4
{
	z-index: 15;
	width: 460px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 898px;
}

#u5969
{
	z-index: 19;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 892px;
}

#u5967
{
	z-index: 21;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 408px;
}

#u5961
{
	z-index: 23;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 650px;
}

#u5965
{
	z-index: 25;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 1134px;
}

#u5963-4
{
	z-index: 27;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 892px;
}

#u5963-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5963-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5964-4
{
	z-index: 31;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 408px;
}

#u5963-4.MuseLinkActive,#u5964-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5964-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5971-4
{
	z-index: 35;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 650px;
}

#u5964-4.MuseLinkActive,#u5971-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5971-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5972-4
{
	z-index: 39;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 1134px;
}

#u5971-4.MuseLinkActive,#u5972-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5972-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6577
{
	z-index: 43;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 892px;
}

#u6575
{
	z-index: 45;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 408px;
}

#u6569
{
	z-index: 47;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 650px;
}

#u6573
{
	z-index: 49;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 1134px;
}

#u6571-4
{
	z-index: 51;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 892px;
}

#u5972-4.MuseLinkActive,#u6571-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6571-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6572-4
{
	z-index: 55;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 408px;
}

#u6571-4.MuseLinkActive,#u6572-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6572-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6579-4
{
	z-index: 59;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 650px;
}

#u6572-4.MuseLinkActive,#u6579-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6579-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6580-4
{
	z-index: 63;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 1134px;
}

#u6579-4.MuseLinkActive,#u6580-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6580-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6580-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5983-4
{
	z-index: 4;
	width: 176px;
	min-height: 17px;
	margin-left: 10px;
	margin-top: 37px;
}

#u5983-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 37px 0px 0px 10px;
}

#u5983-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 37px 0px 0px 10px;
}

#u7430-5
{
	z-index: 8;
	width: 160px;
	min-height: 17px;
	margin-left: 10px;
	margin-top: 13px;
}

body
{
	padding-bottom: 15px;
}

