.html
{
	background: #FFFFFF url("../images/contacto.jpg") no-repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 749.9499999999994px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 59px;
}

#pu4991
{
	width: 0.01px;
	left: -408px;
	position: relative;
}

#u4991
{
	z-index: 2;
	width: 1070px;
	margin-right: -10000px;
}

#u5000
{
	z-index: 41;
	width: 189px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 425px;
}

#u5011-4
{
	z-index: 43;
	width: 460px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 898px;
}

#u5142
{
	z-index: 47;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 1134px;
}

#u5144
{
	z-index: 49;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 408px;
}

#u5146
{
	z-index: 51;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 650px;
}

#u5148
{
	z-index: 53;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 892px;
}

#u5150-4
{
	z-index: 55;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 1134px;
}

#u5150-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5150-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5151-4
{
	z-index: 59;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 408px;
}

#u5150-4.MuseLinkActive,#u5151-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5151-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5152-4
{
	z-index: 63;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 650px;
}

#u5151-4.MuseLinkActive,#u5152-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5152-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5153-4
{
	z-index: 67;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 892px;
}

#u5152-4.MuseLinkActive,#u5153-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5153-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5153-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#ppu5158-4
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 48px;
	position: relative;
}

#pu5158-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u5158-4
{
	z-index: 4;
	width: 148px;
	min-height: 25px;
	color: #FF9E16;
	font-size: 13px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu5490
{
	width: 0.01px;
	margin-top: 10px;
	position: relative;
}

#u5490
{
	z-index: 38;
	width: 708px;
	position: relative;
	margin-right: -10000px;
}

#u5159
{
	z-index: 40;
	width: 708px;
	min-height: 402px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5162-30
{
	z-index: 8;
	width: 219px;
	min-height: 192px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 731px;
}

#u5162-5,#u5162-7,#u5162-9,#u5162-11,#u5162-12,#u5162-17,#u5162-19,#u5162-21,#u5162-22
{
	font-size: 13px;
	line-height: 17px;
	color: #445464;
}

#u5162-2,#u5162-3,#u5162-14,#u5162-15,#u5162-24,#u5162-25
{
	font-size: 13px;
	line-height: 17px;
	color: #FF9E16;
}

#u5162-28
{
	font-size: 12px;
	color: #445464;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5162-26
{
	font-size: 13px;
	line-height: 22px;
}

body
{
	padding-bottom: 15px;
}

