#u5011-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5150-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5151-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5152-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5153-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5158-4,#u5162-30
{
	font-family: open-sans-n4, sans-serif;
}

