#u5011-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5963-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5964-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5971-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5972-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5983-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6634-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6635-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6641-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6636-4
{
	font-family: open-sans-n7, sans-serif;
}

#u7435-9
{
	font-family: open-sans-n7, sans-serif;
}

#u6651-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7180-4
{
	font-family: open-sans-n7, sans-serif;
}

