#u5011-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5963-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5964-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5971-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5972-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5983-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6598-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6597-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6608-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6603-4
{
	font-family: open-sans-n7, sans-serif;
}

#u7434-5
{
	font-family: open-sans-n7, sans-serif;
}

#u6618-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6617-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7143-4
{
	font-family: open-sans-n7, sans-serif;
}

