#u5011-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5963-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5964-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5971-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5972-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5983-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6702-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6708-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6709-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6705-4
{
	font-family: open-sans-n7, sans-serif;
}

#u7437-5
{
	font-family: open-sans-n7, sans-serif;
}

