#u5011-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5963-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5964-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5971-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5972-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5983-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6571-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6572-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6579-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6580-4
{
	font-family: open-sans-n7, sans-serif;
}

#u7430-5
{
	font-family: open-sans-n7, sans-serif;
}

