#u5011-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5963-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5964-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5971-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5972-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5983-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6679-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6681-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6686-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6680-4
{
	font-family: open-sans-n7, sans-serif;
}

#u7436-5
{
	font-family: open-sans-n7, sans-serif;
}

