#u5011-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5042-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5043-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5044-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5045-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5271-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5270-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5268-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5234-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5205-16
{
	font-family: open-sans-n4, sans-serif;
}

