#u5011-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5063-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5055-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5054-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5060-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5375-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5374-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5373-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5372-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5432-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5434-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5455-4,#u5456-5
{
	font-family: open-sans-n4, sans-serif;
}

