#u5011-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5963-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5964-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5971-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5972-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5983-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5643-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5646-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5644-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5645-4
{
	font-family: open-sans-n7, sans-serif;
}

#u7431-5
{
	font-family: open-sans-n7, sans-serif;
}

#u5952-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6022-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5950-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6215-4
{
	font-family: open-sans-n7, sans-serif;
}

