#u5011-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5963-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5964-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5971-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5972-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5983-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6537-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6540-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6536-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6529-4
{
	font-family: open-sans-n7, sans-serif;
}

#u7433-5
{
	font-family: open-sans-n7, sans-serif;
}

#u6552-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7090-4
{
	font-family: open-sans-n7, sans-serif;
}

