#u5011-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5126-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5127-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5128-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5129-4
{
	font-family: open-sans-n7, sans-serif;
}

#u7426-4,#u5504-6,#u5757-5,#u5774-5,#u5782-5,#u5790-5,#u5822-5,#u5812-8,#u5810-5,#u5811-5
{
	font-family: open-sans-n4, sans-serif;
}

#u5757,#u5774,#u5782,#u5790,#u5822,#u5812,#u5810,#u5811
{
	font-family: open-sans-n8, sans-serif;
}

