#u5011-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5963-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5964-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5971-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5972-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5983-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6471-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6472-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6479-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6480-4
{
	font-family: open-sans-n7, sans-serif;
}

#u7432-5
{
	font-family: open-sans-n7, sans-serif;
}

#u6485-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6484-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6764-4
{
	font-family: open-sans-n7, sans-serif;
}

