#u5142,#u5144,#u5146,#u5148
{
	position: relative;
}

#u5150-4
{
	background-color: #FF9E16;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5150-4:hover
{
	background-color: #FF9E16;
}

#u5150-4:active
{
	background-color: #FF9E16;
}

#u5150-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5150-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5150-2
{
	padding-left: 15px;
	padding-top: 13px;
}

#u5151-4
{
	background-color: #FFFFFF;
	color: #445464;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5151-4:hover
{
	background-color: #FFFFFF;
}

#u5150-4.MuseLinkActive,#u5151-4:active
{
	background-color: #FF9E16;
}

#u5151-4:hover p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5150-4.MuseLinkActive p,#u5151-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5151-2
{
	padding-left: 15px;
	padding-top: 13px;
}

#u5152-4
{
	background-color: #FFFFFF;
	color: #445464;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5152-4:hover
{
	background-color: #FFFFFF;
}

#u5151-4.MuseLinkActive,#u5152-4:active
{
	background-color: #FF9E16;
}

#u5152-4:hover p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5151-4.MuseLinkActive p,#u5152-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5152-2
{
	padding-left: 15px;
	padding-top: 13px;
}

#u5153-4
{
	background-color: #FFFFFF;
	color: #445464;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5153-4:hover
{
	background-color: #FFFFFF;
}

#u5152-4.MuseLinkActive,#u5153-4:active
{
	background-color: #FF9E16;
}

#u5153-4.MuseLinkActive
{
	background-color: #FF9E16;
}

#u5153-4:hover p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5152-4.MuseLinkActive p,#u5153-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5153-4.MuseLinkActive p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5153-2
{
	padding-left: 15px;
	padding-top: 13px;
}

