#u4991,#u5000
{
	position: relative;
}

#u5011-4
{
	color: #FFFFFF;
	text-align: center;
	font-size: 59px;
	line-height: 71px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

