#u5034,#u5036,#u5038,#u5040
{
	position: relative;
}

#u5042-4
{
	background-color: #FF9E16;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5042-4:hover
{
	background-color: #FF9E16;
}

#u5042-4:active
{
	background-color: #FF9E16;
}

#u5042-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5042-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5042-2
{
	padding-left: 15px;
	padding-top: 13px;
}

#u5043-4
{
	background-color: #FFFFFF;
	color: #445464;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5043-4:hover
{
	background-color: #FFFFFF;
}

#u5042-4.MuseLinkActive,#u5043-4:active
{
	background-color: #FF9E16;
}

#u5043-4:hover p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5042-4.MuseLinkActive p,#u5043-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5043-2
{
	padding-left: 15px;
	padding-top: 13px;
}

#u5044-4
{
	background-color: #FFFFFF;
	color: #445464;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5044-4:hover
{
	background-color: #FFFFFF;
}

#u5043-4.MuseLinkActive,#u5044-4:active
{
	background-color: #FF9E16;
}

#u5044-4:hover p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5043-4.MuseLinkActive p,#u5044-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5044-2
{
	padding-left: 15px;
	padding-top: 13px;
}

#u5045-4
{
	background-color: #FFFFFF;
	color: #445464;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5045-4:hover
{
	background-color: #FFFFFF;
}

#u5044-4.MuseLinkActive,#u5045-4:active
{
	background-color: #FF9E16;
}

#u5045-4.MuseLinkActive
{
	background-color: #FF9E16;
}

#u5045-4:hover p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5044-4.MuseLinkActive p,#u5045-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5045-4.MuseLinkActive p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5045-2
{
	padding-left: 15px;
	padding-top: 13px;
}

#u5271-4
{
	background-color: transparent;
	color: #445464;
	font-size: 12px;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5271-4:hover p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5271-4:active p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5270-4
{
	background-color: transparent;
	color: #445464;
	font-size: 12px;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5271-4.MuseLinkActive p,#u5270-4:hover p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5270-4:active p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5268-4
{
	background-color: transparent;
	color: #445464;
	font-size: 12px;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5270-4.MuseLinkActive p,#u5268-4:hover p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5268-4:active p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5234-4
{
	background-color: transparent;
	color: #445464;
	font-size: 12px;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5268-4.MuseLinkActive p,#u5234-4:hover p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5234-4:active p
{
	color: #FF9E16;
	visibility: inherit;
}

#u5234-4.MuseLinkActive p
{
	color: #FF9E16;
	visibility: inherit;
}

