.html
{
	background: #FFFFFF url("../images/nosotros.jpg") no-repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 749.7500000000002px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 59px;
}

#pu4991
{
	width: 0.01px;
	left: -408px;
	position: relative;
}

#u4991
{
	z-index: 2;
	width: 1070px;
	margin-right: -10000px;
}

#u5000
{
	z-index: 40;
	width: 189px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 425px;
}

#u5011-4
{
	z-index: 42;
	width: 460px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 898px;
}

#u5034
{
	z-index: 46;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 408px;
}

#u5036
{
	z-index: 48;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 650px;
}

#u5038
{
	z-index: 50;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 892px;
}

#u5040
{
	z-index: 52;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 1134px;
}

#u5042-4
{
	z-index: 54;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 408px;
}

#u5042-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5042-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5043-4
{
	z-index: 58;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 650px;
}

#u5042-4.MuseLinkActive,#u5043-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5043-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5044-4
{
	z-index: 62;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 892px;
}

#u5043-4.MuseLinkActive,#u5044-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5044-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5045-4
{
	z-index: 66;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 1134px;
}

#u5044-4.MuseLinkActive,#u5045-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5045-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5045-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#pu5271-4
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 48px;
	position: relative;
}

#u5271-4
{
	z-index: 16;
	width: 150px;
	min-height: 17px;
	margin-right: -10000px;
}

#u5271-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5271-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5271-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5299-4
{
	z-index: 20;
	width: 708px;
	min-height: 18px;
	color: #FF9E16;
	font-size: 13px;
	line-height: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u5270-4
{
	z-index: 12;
	width: 150px;
	min-height: 17px;
	margin-left: 10px;
	margin-top: 1px;
}

#u5270-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 1px 0px 0px 10px;
}

#u5270-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 1px 0px 0px 10px;
}

#u5270-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 1px 0px 0px 10px;
}

#ppu5268-4
{
	width: 0.01px;
	margin-left: 10px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#pu5268-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u5268-4
{
	z-index: 8;
	width: 150px;
	min-height: 17px;
}

#u5268-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5268-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5268-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5234-4
{
	z-index: 4;
	width: 150px;
	min-height: 17px;
	margin-top: 2px;
}

#u5234-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 2px 0px 0px;
}

#u5234-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 2px 0px 0px;
}

#u5234-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 2px 0px 0px;
}

#u5305
{
	z-index: 38;
	width: 708px;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#pu5300-10
{
	width: 0.01px;
	margin-left: 242px;
	margin-top: 22px;
	position: relative;
}

#u5300-10
{
	z-index: 24;
	width: 468px;
	min-height: 129px;
	color: #445464;
	font-size: 13px;
	line-height: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u5302-4
{
	z-index: 34;
	width: 224px;
	min-height: 84px;
	color: #FF9E16;
	font-size: 13px;
	line-height: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 484px;
}

body
{
	padding-bottom: 15px;
}

