.html
{
	background: #FFFFFF url("../images/obras.jpg") no-repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 749.9500000000005px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 59px;
}

#pu4991
{
	width: 0.01px;
	left: -408px;
	position: relative;
}

#u4991
{
	z-index: 2;
	width: 1070px;
	margin-right: -10000px;
}

#u5000
{
	z-index: 73;
	width: 189px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 425px;
}

#u5011-4
{
	z-index: 75;
	width: 460px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 898px;
}

#u5118
{
	z-index: 79;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 892px;
}

#u5120
{
	z-index: 81;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 408px;
}

#u5122
{
	z-index: 83;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 650px;
}

#u5124
{
	z-index: 85;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 1134px;
}

#u5126-4
{
	z-index: 87;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 892px;
}

#u5126-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5126-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5127-4
{
	z-index: 91;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 408px;
}

#u5126-4.MuseLinkActive,#u5127-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5127-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5128-4
{
	z-index: 95;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 650px;
}

#u5127-4.MuseLinkActive,#u5128-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5128-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5129-4
{
	z-index: 99;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 1134px;
}

#u5128-4.MuseLinkActive,#u5129-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5129-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5129-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#pu7426-4
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 48px;
	position: relative;
}

#u7426-4
{
	z-index: 69;
	width: 218px;
	min-height: 16px;
	color: #FF9E16;
	font-size: 13px;
	line-height: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u5504-6
{
	z-index: 4;
	width: 700px;
	min-height: 49px;
	color: #445464;
	font-size: 13px;
	line-height: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#pu5767
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 15px;
	position: relative;
}

#u5767
{
	z-index: 53;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5767_img
{
	margin: -46px -80px -1px -6px;
}

#u5775
{
	z-index: 57;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u5775_img
{
	margin-left: -3px;
	margin-right: -3px;
	margin-bottom: -10px;
}

#u5783
{
	z-index: 61;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u5783_img
{
	margin: -2px -4px -10px -5px;
}

#u5791
{
	z-index: 65;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 720px;
}

#u5791_img
{
	margin-top: -12px;
	margin-right: -1px;
	margin-bottom: -14px;
}

#u5757-5
{
	z-index: 10;
	width: 220px;
	min-height: 11px;
	color: #445464;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u5774-5
{
	z-index: 20;
	width: 140px;
	min-height: 11px;
	color: #445464;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u5782-5
{
	z-index: 33;
	width: 143px;
	min-height: 13px;
	color: #445464;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u5790-5
{
	z-index: 43;
	width: 99px;
	min-height: 13px;
	color: #445464;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 720px;
}

#pu5823
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 16px;
	position: relative;
}

#u5823
{
	z-index: 55;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5823_img
{
	margin: -21px -10px -2px -15px;
}

#u5813
{
	z-index: 59;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u5813_img
{
	margin: -3px -5px -13px -10px;
}

#u5816
{
	z-index: 63;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u5819
{
	z-index: 67;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 720px;
}

#u5767:hover,#u5775:hover,#u5783:hover,#u5791:hover,#u5823:hover,#u5813:hover,#u5816:hover,#u5819:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u5767_clip,#u5775_clip,#u5783_clip,#u5791_clip,#u5823_clip,#u5813_clip,#u5819_clip
{
	overflow: hidden;
	width: 220px;
	height: 140px;
}

#u5819_img
{
	margin: -7px -10px -10px -5px;
}

#u5767_img:hover,#u5775_img:hover,#u5783_img:hover,#u5791_img:hover,#u5823_img:hover,#u5813_img:hover,#u5816_img:hover,#u5819_img:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#pu5757-5,#pu5822-5
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u5822-5
{
	z-index: 15;
	width: 70px;
	min-height: 11px;
	color: #445464;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u5812-8
{
	z-index: 25;
	width: 160px;
	min-height: 13px;
	color: #445464;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u5812-2
{
	letter-spacing: -1px;
}

#u5810-5
{
	z-index: 38;
	width: 80px;
	min-height: 11px;
	color: #445464;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u5811-5
{
	z-index: 48;
	width: 160px;
	min-height: 13px;
	color: #445464;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 720px;
}

#u5757,#u5774,#u5782,#u5790,#u5822,#u5812,#u5810,#u5811
{
	color: #FF9E16;
	font-family: open-sans, sans-serif;
	font-weight: 800;
}

body
{
	padding-bottom: 15px;
}

