.html
{
	background: #CDC3BB url("../images/obras.jpg") no-repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 750px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 59px;
}

#pu4991
{
	width: 0.01px;
	left: -408px;
	position: relative;
}

#u4991
{
	z-index: 2;
	width: 1070px;
	margin-right: -10000px;
}

#u5000
{
	z-index: 42;
	width: 189px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 425px;
}

#u5011-4
{
	z-index: 44;
	width: 460px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 898px;
}

#u5969
{
	z-index: 48;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 892px;
}

#u5967
{
	z-index: 50;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 408px;
}

#u5961
{
	z-index: 52;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 650px;
}

#u5965
{
	z-index: 54;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 1134px;
}

#u5963-4
{
	z-index: 56;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 892px;
}

#u5963-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5963-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5964-4
{
	z-index: 60;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 408px;
}

#u5963-4.MuseLinkActive,#u5964-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5964-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5971-4
{
	z-index: 64;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 650px;
}

#u5964-4.MuseLinkActive,#u5971-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5971-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5972-4
{
	z-index: 68;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 1134px;
}

#u5971-4.MuseLinkActive,#u5972-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u5972-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6477
{
	z-index: 72;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 892px;
}

#u6475
{
	z-index: 74;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 408px;
}

#u6469
{
	z-index: 76;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 650px;
}

#u6473
{
	z-index: 78;
	width: 234px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 1134px;
}

#u6471-4
{
	z-index: 80;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 892px;
}

#u5972-4.MuseLinkActive,#u6471-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6471-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6472-4
{
	z-index: 84;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 408px;
}

#u6471-4.MuseLinkActive,#u6472-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6472-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6479-4
{
	z-index: 88;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 650px;
}

#u6472-4.MuseLinkActive,#u6479-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6479-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6480-4
{
	z-index: 92;
	width: 234px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 1134px;
}

#u6479-4.MuseLinkActive,#u6480-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6480-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#u6480-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 150px -10000px 0px 0px;
}

#ppu5983-4
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 37px;
	position: relative;
}

#pu5983-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u5983-4
{
	z-index: 4;
	width: 176px;
	min-height: 17px;
}

#u5983-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5983-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u7432-5
{
	z-index: 16;
	width: 160px;
	min-height: 17px;
	margin-top: 13px;
}

#u6485-4
{
	z-index: 8;
	width: 210px;
	min-height: 17px;
	margin-left: 10px;
	margin-top: 14px;
}

#u6485-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 14px 0px 0px 10px;
}

#u6485-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 14px 0px 0px 10px;
}

#u6484-4
{
	z-index: 12;
	width: 210px;
	min-height: 17px;
	margin-left: 10px;
	margin-top: 3px;
}

#u6484-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 3px 0px 0px 10px;
}

#u6484-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 3px 0px 0px 10px;
}

#u6848
{
	z-index: 21;
	width: 718px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 514px;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u6849-4
{
	z-index: 22;
	width: 694px;
	min-height: 40px;
	color: #445464;
	font-size: 25px;
	line-height: 33px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 14px;
}

#slideshowu6850
{
	z-index: 26;
	width: 0.01px;
	height: 485px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 246px;
}

#u6851
{
	position: absolute;
	width: 690px;
	height: 400px;
	background-color: transparent;
}

#u6851popup
{
	z-index: 27;
}

#u6919
{
	z-index: 28;
	width: 690px;
	height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6919_img
{
	margin-left: -3px;
	margin-top: -7px;
	margin-bottom: -53px;
}

#u6928
{
	z-index: 30;
	width: 690px;
	height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6919_clip,#u6928_clip
{
	overflow: hidden;
	width: 690px;
	height: 400px;
}

#u6928_img
{
	margin-top: -30px;
	margin-bottom: -29px;
}

#u6937
{
	z-index: 32;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u6881
{
	position: absolute;
	width: 344px;
	top: 410px;
}

#u6881popup
{
	z-index: 34;
}

#u6922
{
	z-index: 35;
	width: 108px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6922_img
{
	margin-left: -3px;
	margin-right: -3px;
}

#u6931
{
	z-index: 37;
	width: 108px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

#u6922.SSSlideLinkSelected,#u6931.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u6922_clip,#u6931_clip
{
	overflow: hidden;
	width: 108px;
	height: 75px;
}

#u6931_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u6940
{
	z-index: 40;
	height: 75px;
	width: 108px;
	vertical-align: top;
	background: url("../images/u6940.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u6940.SSSlideLinkSelected
{
	background: url("../images/u6940-a.png") no-repeat 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	padding-bottom: 15px;
}

