#u3395-4,#u3401-6,#u3318,#u3318-4,#u3318-7,#u3314,#u3314-4,#u3314-7,#u3314-10,#u3314-13,#u3998,#u3998-4,#u3998-7,#u3317,#u3317-4,#u3317-7,#u3323-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1293-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4252-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4260-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4246-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5114-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4266-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4239-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5178-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5073-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2264-7,#u2265-58
{
	font-family: open-sans-n3, sans-serif;
}

