#u3395-4,#u3401-6,#u3318,#u3318-4,#u3318-7,#u3314,#u3314-4,#u3314-7,#u3314-10,#u3314-13,#u3998,#u3998-4,#u3998-7,#u3317,#u3317-4,#u3317-7,#u3323-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1293-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4252-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4260-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4246-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5114-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4266-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4239-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5178-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4405-4
{
	font-family: open-sans-n4, sans-serif;
}

#u169-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4111-4.AccordionPanelTabOpen p,#u4137-4.AccordionPanelTabOpen p,#u4119-4.AccordionPanelTabOpen p,#u4117-4.AccordionPanelTabOpen p,#u185-4,#u4117-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4116-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4119-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4121-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4111-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4113-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4137-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4138-4
{
	font-family: open-sans-n3, sans-serif;
}

#u175-4,#u431-10
{
	font-family: open-sans-n3, sans-serif;
}

