#u3395-4,#u3401-6,#u3318,#u3318-4,#u3318-7,#u3314,#u3314-4,#u3314-7,#u3314-10,#u3314-13,#u3998,#u3998-4,#u3998-7,#u3317,#u3317-4,#u3317-7,#u3323-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4319-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4314-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4309-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4283-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5187-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4288-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4296-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5209-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5077-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1683-8,#u1832-15,#u1839-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1857-15,#u1855-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1873-11,#u1869-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1892-12,#u1894-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1915-6,#u7577-6
{
	font-family: open-sans-n3, sans-serif;
}

