#u3395-4,#u3401-6,#u3318,#u3318-4,#u3318-7,#u3314,#u3314-4,#u3314-7,#u3314-10,#u3314-13,#u3998,#u3998-4,#u3998-7,#u3317,#u3317-4,#u3317-7,#u3323-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1293-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4252-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4260-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4246-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5114-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4266-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4239-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5178-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5075-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2267-7,#u2268-15,#u2298-12,#u2302-12,#u2305-12,#u2303-12,#u4016-18,#u3692-18,#u2309-15,#u2310-15
{
	font-family: open-sans-n3, sans-serif;
}

