#u4828-4,#u4834-6,#u4815,#u4815-4,#u4815-7,#u4822,#u4822-4,#u4822-7,#u4822-10,#u4822-13,#u4824,#u4824-4,#u4824-7,#u4812,#u4812-4,#u4812-7,#u4823-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5266-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5275-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5281-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5233-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5242-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5247-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5254-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5261-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5093-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5022-7,#u5024-15,#u5027-12,#u5007-12,#u5008-12,#u5003-12,#u5013-18,#u5009-18,#u5006-15,#u5580-15
{
	font-family: open-sans-n3, sans-serif;
}

