#u4828-4,#u4834-6,#u4815,#u4815-4,#u4815-7,#u4822,#u4822-4,#u4822-7,#u4822-10,#u4822-13,#u4824,#u4824-4,#u4824-7,#u4812,#u4812-4,#u4812-7,#u4823-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5305-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5314-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5320-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5340-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5338-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5330-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5300-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5294-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5085-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4901-8,#u4900-16,#u4919-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4899-15,#u4905-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4928-9,#u4907-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4929-12,#u4935-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7586-6,#u7587-6
{
	font-family: open-sans-n3, sans-serif;
}

