#u4828-4,#u4834-6,#u4815,#u4815-4,#u4815-7,#u4822,#u4822-4,#u4822-7,#u4822-10,#u4822-13,#u4824,#u4824-4,#u4824-7,#u4812,#u4812-4,#u4812-7,#u4823-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5458-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5453-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5446-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5419-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5437-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5430-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5416-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5410-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5083-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4963-7,#u4964-7,#u4966-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4958-10,#u4972-4
{
	font-family: open-sans-n3, sans-serif;
}

