#u3402
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u3395-4,#u3401-6
{
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #51626F;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3328
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u3328_align_to_page
{
	position: relative;
}

#u4032,#u7072
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6772,#u6857,#u6884,#u6845,#u6790,#u6773,#u6681,#u6687,#u6722,#u6685,#u6760,#u6906,#u6892,#u6733,#u6874,#u6744,#u6889,#u6748,#u6896,#u6815,#u6850,#u6833,#u6700,#u6913,#u6863,#u6897,#u6854,#u6802,#u6847,#u6721,#u6877,#u6715,#u6660,#u6888,#u6849,#u6763,#u6840,#u6829,#u6768,#u6918,#u6663,#u6870,#u6821,#u6720,#u6741,#u6724,#u6676,#u6703,#u6665,#u6651,#u6812,#u6738,#u6654,#u6916,#u6719,#u6714,#u6813,#u6925,#u6930,#u6933,#u6780,#u6866,#u6919,#u6851,#u6757,#u6727,#u6852,#u6806,#u6751,#u6717,#u6762,#u6731,#u6670,#u6928,#u6669,#u6696,#u6912,#u6750,#u6659,#u6832,#u6797,#u6846,#u6798,#u6769,#u6702,#u6684,#u6739,#u6910,#u6864,#u6907,#u6902,#u6859,#u6882,#u6707,#u6914,#u6825,#u6650,#u6865,#u6824,#u6652,#u6901,#u6793,#u6657,#u6924,#u6784,#u6820,#u6776,#u6905,#u6725,#u6881,#u6730,#u6674,#u6754,#u6927,#u6935,#u6917,#u6766,#u6682,#u6779,#u6709,#u6786,#u6890,#u6822,#u6668,#u6891,#u6909,#u6804,#u6931,#u6713,#u6735,#u6858,#u6782,#u6811,#u6900,#u6718,#u6675,#u6658,#u6875,#u6726,#u6923,#u6886,#u6761,#u6755,#u6792,#u6777,#u6880,#u6692,#u6899,#u6710,#u6771,#u6706,#u6688,#u6679,#u6887,#u6673,#u6843,#u6920,#u6893,#u6662,#u6836,#u6915,#u6929,#u6921,#u6666,#u6764,#u6841,#u6711,#u6818,#u6767,#u6872,#u6680,#u6817,#u6904,#u6691,#u6756,#u6671,#u6759,#u6853,#u6823,#u6903,#u6868,#u6809,#u6775,#u6753,#u6898,#u6747,#u6834,#u6656,#u6808,#u6871,#u6926,#u6932,#u6785,#u6716,#u6839,#u6677,#u6911,#u6699,#u6781,#u6694,#u6805,#u6807,#u6795,#u6732,#u6879,#u6774,#u6803,#u6800,#u6787,#u6746,#u6742,#u6856,#u6667,#u6801,#u6894,#u6867,#u6908,#u6885,#u6895,#u6838,#u6831,#u6861,#u6796,#u6701,#u6835,#u6734,#u6678,#u6649,#u6789,#u6664,#u6816,#u6855,#u6842,#u6704,#u6878,#u6826,#u6848,#u6672,#u6844,#u6770,#u6693,#u6736,#u6828,#u6788,#u6922,#u6758,#u6778,#u6752,#u6695,#u6934,#u6705,#u6814,#u6862,#u6655,#u6765,#u6689,#u6873,#u6876,#u6869,#u6698,#u6697,#u6737,#u6728,#u6749,#u6791,#u6819,#u6860,#u6729,#u6683,#u6827,#u6883,#u6743,#u6783,#u6690,#u6740,#u6712,#u6810,#u6661,#u6794,#u6799,#u6686,#u6830,#u6745,#u6723,#u6653,#u6708,#u6837,#u6965,#u6945,#u6958,#u6972,#u6937,#u6950,#u6963,#u6943,#u6956,#u6970,#u6940,#u6953,#u6967,#u6947,#u6960,#u6974,#u6936,#u6949,#u6962,#u6942,#u6955,#u6969,#u6939,#u6952,#u6966,#u6946,#u6959,#u6973,#u6938,#u6951,#u6964,#u6944,#u6957,#u6971,#u6941,#u6954,#u6968,#u6948,#u6961,#u6975,#u6981,#u6976,#u6978,#u6980,#u6977,#u6979,#u6982,#u6983,#u7013,#u7042,#u6998,#u7028,#u7057,#u6991,#u7021,#u7050,#u7006,#u7035,#u7064,#u6987,#u7017,#u7046,#u7002,#u7032,#u7061,#u6995,#u7025,#u7054,#u7010,#u7039,#u7068,#u6985,#u7015,#u7044,#u7000,#u7030,#u7059,#u6993,#u7023,#u7052,#u7008,#u7037,#u7066,#u6989,#u7019,#u7048,#u7004,#u7034,#u7063,#u6997,#u7027,#u7056,#u7012,#u7041,#u7070,#u6984,#u7014,#u7043,#u6999,#u7029,#u7058,#u6992,#u7022,#u7051,#u7007,#u7036,#u7065,#u6988,#u7018,#u7047,#u7003,#u7033,#u7062,#u6996,#u7026,#u7055,#u7011,#u7040,#u7069,#u6986,#u7016,#u7045,#u7001,#u7031
{
	border-style: none;
	border-color: transparent;
	background-color: #0D776E;
	position: relative;
}

#u5581,#u3399,#u3705,#u3315,#u3999,#u3319
{
	background-color: transparent;
	position: relative;
}

#u3318-11,#u3314-17,#u3998-11,#u3317-11
{
	background-color: transparent;
	line-height: 21px;
	position: relative;
}

#u3318-3,#u3318-6,#u3318-9,#u3314-3,#u3314-6,#u3314-9,#u3314-12,#u3314-15,#u3998-3,#u3998-6,#u3998-9,#u3317-3,#u3317-6,#u3317-9
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3318,#u3318-4,#u3318-7,#u3314,#u3314-4,#u3314-7,#u3314-10,#u3314-13,#u3998,#u3998-4,#u3998-7,#u3317,#u3317-4,#u3317-7
{
	font-size: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	line-height: 15px;
}

#u3323-4
{
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	color: #51626F;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

